<link href="https://fonts.cdnfonts.com/css/tw-cen-mt-std" rel="stylesheet">


<!-- <ion-toolbar>
  <ion-icon name="arrow-back-outline" (click)="navigateTohome()"></ion-icon>
  <ion-title class="tituloprincipal">
    Unete a
  </ion-title>
</ion-toolbar>

<ion-content> -->

  <!-- <ion-title>
    <div class="logo-container">
      <img src="../assets/icon/logo_morado.png" alt="Logo Roomaid" />
    </div>
    <div class="qr-container">
      <qrcode [qrdata]="qrString" 
              [width]="300" 
              [errorCorrectionLevel]="'H'"
              [colorDark]="'#7085FF'"
              [colorLight]="'#E7EDFF'"
              [imageSrc]="'../../../assets/icon/favicon.png'"
              [imageHeight]="55"
              [imageWidth]="55"
        >
      </qrcode>
    </div>

  </ion-title>


    
    <ion-card class="haceresCard" (click)="startScan()">
      <div class="icon-title-container">
        <ion-title>Deseo Escanear un QR</ion-title>
      </div>
    </ion-card> -->

<!-- <ion-content>
    <ion-header [style.visibility]="content_visibility">

</ion-header>

<ion-content [style.visibility]="content_visibility">

  <ion-card class="ion-text-center">
    <div class="qr-container">
      <qrcode [qrdata]="qrString" 
              [width]="300" 
              [errorCorrectionLevel]="'H'"
              [colorDark]="'#7085FF'"
              [colorLight]="'#E7EDFF'"
              [imageSrc]="'../../../assets/icon/favicon.png'"
              [imageHeight]="55"
              [imageWidth]="55"
        >
      </qrcode>
    </div>
  </ion-card>

  <ion-card class="haceresCard">
    <ion-button 
    expand="block" 
    class="ion-margin" 
    (click)="startScan()">
    Deseo Escanear un QR
    </ion-button>
  </ion-card>


  
</ion-content> -->

<ion-header [style.visibility]="content_visibility">
  <ion-toolbar>
  <ion-icon name="arrow-back-outline" (click)="navigateTohome()"></ion-icon>
  <ion-title class="tituloprincipal">
    Unete a
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content [style.visibility]="content_visibility">
  <div class="logo-container">
      <img src="../assets/icon/logo_morado.png" alt="Logo Roomaid" />
  </div>
  <ion-card class="ion-text-center">
    <ion-card-content>
      <qrcode [qrdata]="qrString" 
              [width]="300" 
              [errorCorrectionLevel]="'H'"
              [colorDark]="'#7085FF'"
              [colorLight]="'#E7EDFF'"
              [imageSrc]="'../../../assets/icon/favicon.png'"
              [imageHeight]="55"
              [imageWidth]="55"
        >
      </qrcode>
    </ion-card-content>
  </ion-card>

  <ion-card class="haceresCard">
    <ion-button 
      expand="block" 
      class="ion-margin " 
      (click)="startScan()">
      Scan QR Code
    </ion-button>
  </ion-card>

  <ion-item *ngIf="scannedResult">
    <ion-label class="ion-text-wrap">Scanned Result: {{scannedResult}}</ion-label>
  </ion-item>
  
</ion-content>