<link href="https://fonts.cdnfonts.com/css/tw-cen-mt-std" rel="stylesheet">

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="tituloprincipal">Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <form [formGroup]="formularioRegistro">
       <ion-input formControlName="nombre" placeholder="Ingrese usuario" ></ion-input> 
        </form>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <form [formGroup]="formularioRegistro">
        <ion-input formControlName="password" type="password"  placeholder="Ingrese Contraseña"></ion-input>
      </form>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <form [formGroup]="formularioRegistro">
      <ion-input formControlName="confirmacionPassword" type="password"  placeholder="Confirme Contraseña"></ion-input>
    </form>
    </ion-item>
  </ion-list>
  <ion-button class="botonguardar" expand="full" (click)="guardarRegistro()">Guardar</ion-button>
  <p  (click)="navigateToLogin()" >¿tienes una cuenta? Inicia Sesion.</p> 
</ion-content>


